.modal{
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   max-width: 660px;
   height: 700px;
   min-height: 400px;
   background-color: #fff;
   border: 1px solid #000;
   outline: none;
}
.modal p{
   font-size: 20px;
   margin-bottom: 30px;
}
.modalButton {
   box-sizing: border-box;
   position: absolute;
   top: 5px;
   right: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   background-color: #fff;
   font-size: 20px;
   border: 1px solid #000;
   cursor: pointer;
   outline: none;
}

.checkDelBtn {
   width: 150px;
   height: 50px;
   margin: 0 auto;
   background-color: #000;
   color: #fff;
   border:  none;
}